body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f8f9fa;
}

h1 {
    color: #343a40;
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="file"] {
    display: block;
    margin: 10px auto;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

.flashes {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.flashes li {
    margin-bottom: 10px;
}

.flashes .message {
    color: #ff0000;
}

#loading {
    text-align: center;
    margin-top: 20px;
}

#loading img {
    width: 50px;
    height: 50px;
}

#loading p {
    font-size: 1.2em;
    color: #007bff;
}
